.list-view .list-cell:selected:focused {
    -fx-background-color: #22dEa1;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}
.list-view .list-cell {
    -fx-background-color: #f2dfa1;
    -fx-text-fill: Black;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}